body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    color: #3F3D56;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    color: #828282;
}

p span {
    color: #3F3D56;
}

span {
    color: #EE24FF;
}