body {
    /* border: solid 3px blue; */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

#main {
    /* border: black solid 1px; */
    width: 626px;
    margin: 0 auto 35px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #3F3D56;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1 span {
    font-weight: 700;
    color: #EE24FF;
}

p {
    /* border: #EE24FF solid 1px; */
    font-weight: 400;
    color: #828282;
    margin: 16px auto 32px;
    padding: 0;
    width: 540px;
    /* height: 107px; */
    /* text-align: justify; */
}

p span {
    font-weight: 700;
    color: #3F3D56;
}

span {
    color: #EE24FF;
}

#footer {
    /* border: solid 1px #EE24FF; */
    font-weight: 700;
    font-size: 15px;
    line-height: 147.68%;
    color: #3F3D56;
}

#footer a+a {
    margin-left: 42px;
}

.line {
    width: 391px;
    height: 0;
    border: 1px solid #ECEFF2;
    margin: 0 auto 8px;
}

a {
    text-decoration: none;
}

#wave {
    /* border: 2px solid red; */
    /* bottom: 0; */
    background-image: url("images/Wave.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: 100px;
}