body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}

#principal {
    border: black solid 1px;
    width: 626px;
    margin: 0 auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #3F3D56;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1 span {
    font-weight: 700;
    color: #EE24FF;
}

p {
    font-weight: 400;
    color: #828282;
}

p span {
    font-weight: 700;
    color: #3F3D56;
}

span {
    color: #EE24FF;
}

#footer {
    font-weight: 700;
    font-size: 15px;
    line-height: 147.68%;
    color: #3F3D56;
}

#footer a + a {
    margin-left: 42px;
}

.line {
    width: 391px;
    height: 0;
    border: 1px solid #ECEFF2;
    margin: 0 auto 8px;
}

a {
    text-decoration: none;
}

.ondas {
}